<nav class="navbar">
  <div class="brand">Manasiya</div>
  <ul class="nav-links">
    <li><a class="nav-link" routerLinkActive="./increment" href="./increment">INCREMENT</a></li>
    <li><a class="nav-link" routerLinkActive="./validation" href="./validation">VALIDATION</a></li>
    <li><a class="nav-link"  routerLinkActive="./resume" href="./resume">RESUME</a></li>
    <li><a class="nav-link" routerLink="./reactiveValidation" routerLinkActive="./reactiveValidation" href="./reactiveValidation">REACTIVE VALIDATION</a></li>
    <li><a class="nav-link" routerLink="./FormBuilder" routerLinkActive="./FormBuilder" href="./FormBuilder">FORMBUILDER</a></li>
    <li><a class="nav-link" routerLink="./loginform" routerLinkActive="./loginform" href="./loginform">LOGINFORM</a></li>
    <li><a class="nav-link" routerLink="./signup" routerLinkActive="./signup" href="./signup">SIGNUP</a></li>
    
    
  </ul>
</nav>


<div class="row">
  <router-outlet></router-outlet>
</div>


